.blinds-head {
  background: linear-gradient(to bottom, #95845d, #f6edbb 50%, #c9b57f);
  // background-attachment: fixed;
  width: 98vw;
  height: 7vh;
  position: fixed;;
  z-index: 1;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  left: 50%;
  margin-left: -49vw;
}
.blinds-parent {
  position: relative;
  perspective: 2000px;
  .blind {
    // transform: rotateX(10deg);
    background: linear-gradient(to bottom, #95845d, #f6edbb 50%, #c9b57f);;
    width: 96vw;
    height: 5vh;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    left: 50%;
    margin-left: -48vw;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;

}
